.header {    
    -fx-background-color: GRAY;
    -fx-text-fill: white;
}

.header .title {
    -fx-font: 18pt "Tahoma Bold";
    -fx-text-fill: white;
}

.header .tag-line {
    -fx-font: 12pt "Tahoma Bold";
    -fx-text-fill: white;
}

.body {
    -fx-padding: 20;
}

Label{
	-fx-text-fill: WHITE;
	-fx-font-family: Roboto;
}

.icon{
	-fx-text-fill: linear-gradient(#ffffff, #d2d2d2);
	-fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.5) , 8 , 0.0 , 0 , 0 );
}


.icon:hover{	
	-fx-text-fill: linear-gradient( from 0.0% 0.0% to 100.0% 100.0%, rgb(255,255,204) 0.0, rgb(255,255,204) 10.0, rgb(255,255,77) 40.0, rgb(255,255,77) 100.0);	
}


.progress-bar > .bar {
    -fx-background-color: linear-gradient(
        from 0px .75em to .75em 0px,
        repeat,
        -fx-accent 0%,
        -fx-accent 49%,
        derive(-fx-accent, 30%) 50%,
        derive(-fx-accent, 30%) 99%
    );
}





.circle-button {
-fx-pref-width: 4.0em;
-fx-pref-height: 4.0em;
/*-fx-background-radius: 2.0em;
 * -fx-border-radius: 2.0em;*/
-fx-background-color: transparent  ;
-fx-border-width: 2.0px;
}
 
.circle-button:disabled {
-fx-border-color: rgb(0, 0, 0, 0.7);
}
 



.hamburgerIcon{
	-fx-spacing: 3;
	-fx-scale-x:0.7;
	-fx-scale-y:0.7;
}

.hamburgerIcon SVGPath{
	-fx-stroke-width: 0.0;
	-fx-stroke: TRANSPARENT;
	-fx-opacity: 1;
	-fx-stroke-miter-limit: 4.0;
	-fx-stroke-line-join: MITER;
	-fx-stroke-line-cap: BUTT;
	-fx-stroke-dash-offset: 0.0;
	-fx-fill: WHITE;
}

.c3dToolbar{
	-fx-font-size: 20;
	-fx-font-weight: BOLD;
	-fx-background-color: BLUE;
	-fx-pref-width: 100%;
	-fx-pref-height: 64px;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0.12, 0, 1);
}
.c3dToolbar HBox {
	-fx-alignment:center;
	-fx-spacing: 25;
	-fx-padding: 0 10;
}

.c3dToolbar AnchorPane{
	-fx-max-height: 100%;
}
.hboxRight{
	-fx-halignment: right;
}

.z-depth1{	
	-fx-effect:  dropshadow(GAUSSIAN, rgba(0,0,0,0.26), 10, 0.12, -1, 2);
}

.z-depth2{
	-fx-effect:  dropshadow(GAUSSIAN, rgba(0,0,0,0.26), 15, 0.16, 0, 4);
}

.z-depth3{
	-fx-effect: dropshadow(GAUSSIAN, rgba(0,0,0,0.26), 20, 0.19, 0, 6);
}

.z-depth4{
	-fx-effect:   dropshadow(GAUSSIAN, rgba(0,0,0,0.26), 25, 0.25, 0, 8);
}

.z-depth5{
	-fx-effect:  dropshadow(GAUSSIAN, rgba(0,0,0,0.26), 30, 0.30, 0, 10);
}
