# java specific
*.bak
*.class

#eclipse specific
.metadata/*
.settings

#intellij specific
.idea/
*.iml
*.ipr
*.iws

#gradle
.gradle/

#temp build
[Bb]uild*/
[Bb]in/
[Dd]ebug*/
[Rr]elease*/

#windows Junk
*.ini
[Tt]humbs.db
*.DS_Store
