# java specific
*.bak
*.class

#eclipse specific
.metadata/*
.settings

#intellij specific
.idea/
*.iml
*.ipr
*.iws

#gradle specific
.gradle/

#temp build
[Bb]uild*/
[Bb]in/
[Dd]ebug*/
[Rr]elease*/

#c3d specific
*.log
commit.txt
servershsql.xml
hsqldbs/*


#windows Junk
*.ini
[Tt]humbs.db
*.DS_Store

make/dist/C3DFX.jar
make/dist/jfoenix.jar
