.root{
	-fx-font-family: Roboto;
    src:"/resources/roboto/Roboto-Regular.ttf";
}
/* Burgers Demo */

.hamburgerIcon{
	-fx-spacing: 3;
	-fx-scale-x:0.7;
	-fx-scale-y:0.7;
	-fx-cursor: hand;
}

.hamburgerIcon SVGPath{
	-fx-stroke-width: 0.0;
	-fx-stroke: TRANSPARENT;
	-fx-opacity: 1;
	-fx-stroke-miter-limit: 4.0;
	-fx-stroke-line-join: MITER;
	-fx-stroke-line-cap: BUTT;
	-fx-stroke-dash-offset: 0.0;
	-fx-fill: BLUE;
}



/* Input Demo */

.text-field {
    -fx-max-width: 300;
}

.c3dTextField{
	-fx-background-color: WHITE;
    -fx-font-weight: BOLD;
    -fx-prompt-text-fill: rgb(128,128,128);
    -fx-alignment: top-left ;
    -fx-max-width: 300;
}
    



/* Progress Bar Demo */
.progress-bar > .bar {
	-fx-min-width: 500;
}

/* Icons Demo */
.icon{
	-fx-text-fill: #FE774D;
	-fx-padding: 10;
	-fx-cursor: hand;
}
.icons-rippler{
	-fx-rippler-fill: BLUE;
	-fx-mask-type: CIRCLE;
}
.icons-rippler:hover{
	-fx-cursor: hand;
}

/* CheckBox */
.check-box{
    -fx-font-weight: BOLD;
}

/* Button */
.button{
	-fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
}

/* Menu */
.c3dMenu{
    -fx-font-size: 14px;
}



/* The main scrollbar **track** CSS class  */
.mylistview .scroll-bar:horizontal .track,
.mylistview .scroll-bar:vertical .track{
	-fx-background-color:transparent;
	-fx-border-color:transparent;
	-fx-background-radius: 0em;
	-fx-border-radius:2em;
}

/* The increment and decrement button CSS class of scrollbar */
.mylistview .scroll-bar:horizontal .increment-button ,
.mylistview .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 0 10 0;
}

/* The increment and decrement button CSS class of scrollbar */

.mylistview .scroll-bar:vertical .increment-button ,
.mylistview .scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 10 0 0;

}

.mylistview  .scroll-bar .increment-arrow,
.mylistview  .scroll-bar .decrement-arrow{
	-fx-shape:" ";	
	-fx-padding:0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.mylistview .scroll-bar:horizontal .thumb,
.mylistview .scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}


.c3d-list-cell-holder > .label{
  	-fx-background-color: WHITE;
  	-fx-text-fill: BLACK ;
}
.c3d-list-view {-fx-background-insets: 0;}

.c3d-list-cell { -fx-text-fill: black; /* 5 */ }
.c3d-list-cell:odd { -fx-background-color: white; /* 1 */ }
.c3d-list-cell:even { -fx-background-color: white; /* for information */ }
.c3d-list-cell:filled:hover { -fx-background-color: white;-fx-text-fill: black;}

