
/* Burgers Demo */

.hamburgerIcon{
	-fx-spacing: 3;
	-fx-scale-x:0.7;
	-fx-scale-y:0.7;
	-fx-cursor: hand;
}

.hamburgerIcon SVGPath{
	-fx-stroke-width: 0.0;
	-fx-stroke: TRANSPARENT;
	-fx-opacity: 1;
	-fx-stroke-miter-limit: 4.0;
	-fx-stroke-line-join: MITER;
	-fx-stroke-line-cap: BUTT;
	-fx-stroke-dash-offset: 0.0;
	-fx-fill: BLUE;
}



/* Input Demo */

.text-field {
    -fx-max-width: 300;
}

.c3dTextField{
	-fx-background-color: WHITE;
    -fx-font-family: Roboto;
    -fx-font-weight: BOLD;
    -fx-prompt-text-fill: rgb(128,128,128);
    -fx-alignment: top-left ;
    -fx-max-width: 300;
    src:"/resources/roboto/Roboto-Regular.ttf";
}
    
.c3dTextFieldSkin{
    -fx-skin: "customui.skins.C3DTextFieldSkin";
}


/* Progress Bar Demo */
.progress-bar > .bar {
	-fx-min-width: 500;
}

.css-progress-bar > .bar {
    -fx-background-color: linear-gradient(
        from 0px .75em to .75em 0px,
        repeat,
        -fx-accent 0%,
        -fx-accent 49%,
        derive(-fx-accent, 30%) 50%,
        derive(-fx-accent, 30%) 99%
    );
}

/* Icons Demo */

.icon{
	-fx-text-fill: #FE774D;
	-fx-padding: 10;
	-fx-cursor: hand;
	
}

/* CheckBox */
.check-box{
	 -fx-font-family: Roboto;
    -fx-font-weight: BOLD;
    src:"/resources/roboto/Roboto-Regular.ttf";
}

/* Button */
.button{
	-fx-padding: 0.7em 0.57em;
	-fx-font-family: Roboto;
    -fx-font-size: 14px;
    src:"/resources/roboto/Roboto-Regular.ttf";
}

/* Menu */
.c3dMenu{
	-fx-font-family: Roboto;
    -fx-font-size: 14px;
    src:"/resources/roboto/Roboto-Regular.ttf";
}

