/*
 *	Apply google Roboto font to all UI components 
 */
.root{
	-fx-font-family: Roboto;
    src:"/resources/roboto/Roboto-Regular.ttf";
}

.c3dslider > .trackLine {
	-fx-stroke: #CCCCCC;
	-fx-stroke-width: 3.0px;
}

.c3dslider .valueLine {
	-fx-stroke: #0F9D58;
	-fx-stroke-width: 3.0px;
}

.c3dslider .valueText {
	-fx-stroke: #FFFFFF;
	-fx-font-size:10.0;
}

.c3dslider > .thumbCircle {
	-fx-stroke-width: 2.0px;
	-fx-fill: #0F9D58;
}



/*
 * Ripple Properties
 */
 
.rippler{
	-fx-rippler-fill: BLUE;
	-fx-mask-type: RECT;
}
.rippler:hover{
	-fx-cursor: hand;
}


/*
 * C3D Button properties 
 */
 
 .c3d-button{
	-fx-background-color: transparent ;
}

.c3d-button .c3d-rippler{
	-fx-rippler-fill: RED;
}

.custom-c3d-button-raised{
	-fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -fx-button-type: RAISED;
    -fx-background-color: RED;
    -fx-pref-width: 200;
    -fx-text-fill: WHITE;
}
	 
 