@font-face {
  font-family: "Roboto";
  src: url("../font/roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto Medium";
  src: url("../font/roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto Light";
  src: url("../font/roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../font/roboto/Roboto-Bold.ttf");
}


/* NOTE: the file font must be included as the 1st css file in order to work */