/*
 *	Apply google Roboto font to all UI components 
 */

.root {
	-fx-font-family: "Roboto";	
}

.side-menu{
	-fx-padding: 20.0,10.0;
	-fx-font-size: 15.0;
	-fx-font-weight: NORMAL;
	-fx-text-fill: #444;
}
.title-label{
	-fx-font-size: 16.0px;
	-fx-padding	: 14.0px;
	-fx-text-fill: rgba(0.0, 0.0, 0.0, 0.87);
}
.radio-button-title-label {
	-fx-font-size: 16.0px;
	-fx-padding	: 14.0 0.0 -20.0 0.0;	
	-fx-text-fill: rgba(0.0, 0.0, 0.0, 0.87);
}
.c3d-button {
	-fx-background-color: transparent ;
}

/*******************************************************************************
 *                                                                             *
 * C3D Drawer                                                                  *
 *                                                                             *
 ******************************************************************************/

.c3d-drawer-overlay-pane {
	-fx-background-color: rgba(0.0,0.0,0.0,0.1)	
}

.c3d-drawer-side-pane {
	-fx-background-color: WHITE;	
}

/*******************************************************************************
 *                                                                             *
 * C3D Dialog Layout                                                           *
 *                                                                             *
 ******************************************************************************/

.c3d-dialog-overlay-pane {
	-fx-background-color: rgba(0.0,0.0,0.0,0.1); 
}

.dialog-trigger{
	-fx-background-color: WHITE;
	-fx-button-type:RAISED;
	-fx-font-size: 16.0px;
}

.c3d-dialog-layout {
	-fx-padding: 24.0px 24.0px 16.0px 24.0px;
	-fx-text-fill: rgba(0.0, 0.0, 0.0, 0.87);
}
.c3d-layout-heading {
	-fx-font-size: 20.0px;
	-fx-font-weight: BOLD;
	-fx-alignment: center-left;
	-fx-padding: 5.0 0.0 5.0 0.0; 	
}

.c3d-layout-body .label {
	-fx-font-size: 14.0px;
	-fx-pref-width: 400.0px;
	-fx-wrap-text: true;
}

.c3d-layout-actions {
	-fx-padding: 10.0px 0.0 0.0 0.0 ;	
	-fx-alignment: center-right ;
}
.dialog-accept{
	-fx-text-fill: #03A9F4;
	-fx-font-weight: BOLD; 	
	-fx-padding: 0.7em 0.8em;
}

/*******************************************************************************
 *                                                                             *
 * C3D Pop Up                                                                  *
 *                                                                             *
 ******************************************************************************/

.c3d-popup-overlay-pane{
	-fx-background-color: transparent ;
}

.c3d-popup-holder{
	-fx-background-color: WHITE;
	-fx-pref-width:151.0px;
}

.popup-list-view {
	-fx-pref-width:150.0px;
}

/*******************************************************************************
 *                                                                             *
 * C3D Icons                                                                   *
 *                                                                             *
 ******************************************************************************/

.icon{
	-fx-text-fill: #FE774D;
	-fx-padding: 10.0;
	-fx-cursor: hand;
}

.icons-rippler{
	-fx-rippler-fill: #FE774D;
	-fx-mask-type: CIRCLE;
}

.icons-rippler1{
	-fx-rippler-fill: #4285F4;
	-fx-mask-type: CIRCLE;
}

.icons-rippler:hover{
	-fx-cursor: hand;
}

/*******************************************************************************
*                                                                              *
* C3D Hamburger Icon                                                           *
*                                                                              *
*******************************************************************************/

.c3d-hamburger-icon{
	-fx-spacing: 3.0;
	-fx-scale-x:0.8;
	-fx-scale-y:0.8;
	-fx-cursor: hand;
}

.c3d-hamburger-icon SVGPath{
	-fx-stroke-width: 0.0;
	-fx-stroke: TRANSPARENT;
	-fx-opacity: 1.0;
	-fx-stroke-miter-limit: 4.0;
	-fx-stroke-line-join: MITER;
	-fx-stroke-line-cap: BUTT;
	-fx-stroke-dash-offset: 0.0;
	-fx-fill: #5264AE;
}

/*******************************************************************************
 *                                                                             *
 * C3D Tool Bar                                                                *
 *                                                                             *
 ******************************************************************************/

.c3d-tool-bar{
	-fx-font-size: 20.0;
	-fx-font-weight: BOLD;
	-fx-background-color: #5264AE;
	-fx-pref-width: 100.0%;
	-fx-pref-height: 64.0px;
}

.c3d-tool-bar HBox {
	-fx-alignment:center;
	-fx-spacing: 25.0;
	-fx-padding: 0.0 10.0;
}

.c3d-tool-bar Label{
	-fx-text-fill: WHITE;
}

.c3d-tool-bar .c3d-hamburger-icon{
	-fx-padding:10.0;
}
.c3d-tool-bar .c3d-hamburger-icon SVGPath{
	-fx-fill: WHITE;
}

.c3d-tool-bar .c3d-options-burger {
	-fx-scale-x: 0.1;
}

.c3d-tool-bar .c3d-rippler {
	-fx-rippler-fill: WHITE;
}

.option-list-view {
  	-fx-pref-width: 160.0px;
  	-fx-background-color: WHITE ;
}

.option-c3d-list-view-icon {
	-fx-text-fill: #5264AE;
	-fx-padding: 0.0 10.0 0.0 5.0 ;
	-fx-cursor: hand;
}



/*******************************************************************************
 *                                                                             *
 * C3D Radio Button                                                            *
 *                                                                             *
 ******************************************************************************/

.c3d-radio-button .radio {
	-fx-stroke-width: 2.0px;
	-fx-fill: transparent;
}

.c3d-radio-button .dot {
	-fx-fill: #0F9D58;
}

.custom-c3d-radio-button{
	-fx-font-size: 16.0px;
}

.custom-c3d-radio-button .radio {
	-fx-stroke-width: 2.0px;
	-fx-fill: transparent;	
}

.custom-c3d-radio-button .dot {
	-fx-fill: #5264AE;
}

/*******************************************************************************
 *                                                                             *
 * C3D Slider                                                                  *
 *                                                                             *
 ******************************************************************************/

.c3d-slider {
	-fx-indicator-position: left;
}


.c3d-slider > .thumb {
	-fx-stroke: #0F9D58;
	-fx-stroke-width: 2.0;
}

.c3d-slider .track {
	-fx-background-color: #CCCCCC;
    -fx-stroke-width: 3.0;
}

.c3d-slider .sliderValue {
	-fx-stroke: #FFFFFF;
	-fx-font-size: 10.0;
}

.c3d-slider:disabled {
	-fx-opacity: 0.4;
}

/*******************************************************
*                           						   *
* For the main demo sliders 						   *
*                          							   *
*******************************************************/

.c3d-slider-style {
	-fx-indicator-position: right;
}

.c3d-slider-style > .thumb {
	-fx-stroke: #5264AE;
	-fx-stroke-width: 1.0;
}

.c3d-slider-style .track {
	-fx-stroke: rgb(230.0,230.0,153.0);
    -fx-stroke-width: 5.0;
}

.c3d-slider-style .sliderValue {
	-fx-stroke: rgb(0.0,255.0,64.0);
	-fx-font-size: 10.0;
}

/******************************************************/


/*******************************************************************************
*                                                                              *
* C3D Rippler                                                                  *
*                                                                              *
*******************************************************************************/

/*.c3d-rippler {
	-fx-rippler-fill: #5264AE;
	-fx-mask-type: RECT;
}*/
.c3d-rippler:hover {
	-fx-cursor: hand;
}

/*******************************************************************************
*                                                                              *
* C3D Button                                                                   *
*                                                                              *
*******************************************************************************/


.custom-c3d-button-raised .c3d-rippler{
	-fx-rippler-fill: YELLOW;
}

.custom-c3d-button-raised  {
	-fx-padding: 0.7em 0.57em;
	-fx-font-size: 14.0px;
	-fx-button-type: RAISED;
	-fx-background-color: rgb(102.0,153.0,102.0);
	-fx-pref-width: 200.0;
	-fx-text-fill: WHITE;
}

/*******************************************************************************
*                                                                              *
* C3D Check Box                                                                *
*                                                                              *
*******************************************************************************/

.c3d-check-box{
    -fx-font-weight: BOLD;
}

.custom-c3d-check-box{
    -fx-checked-color: RED;
    -fx-unchecked-color: BLACK;
}

.custom-c3d-check-box-all-colored{
	 -fx-checked-color: #5264AE;
	 -fx-unchecked-color: #5264AE;
	 -fx-text-fill:#5264AE;
}

.custom-c3d-check-box-text-colored{
	-fx-text-fill:rgb(153.0,0.0,0.0);
}

/*******************************************************************************
*                                                                              *
* C3D Progress Bar                                                             *
*                                                                              *
*******************************************************************************/

.c3d-progress-bar{
	-fx-pref-width: 500.0;
}

.c3d-progress-bar > .track {
	-fx-min-width: 500.0;
}

.custom-c3d-progress-bar .track {
	-fx-stroke: #C8C8C8;
	-fx-stroke-width: 5.0;
}

.custom-c3d-progress-bar .bar {
	-fx-stroke: rgb(255.0,128.0,0.0);
}

.custom-c3d-progress-bar-stroke .track {
	-fx-stroke: #C8C8C8 ;
	-fx-stroke-width: 7.0;
}

.custom-c3d-progress-bar-stroke .bar {
	-fx-stroke: #5264AE ;
}


/*******************************************************************************
*                                                                              *
* C3D Textfield                                                                *
*                                                                              *
*******************************************************************************/

.c3d-text-field{
	-fx-background-color: transparent ;
    -fx-font-weight: BOLD;
    -fx-prompt-text-fill: #808080;
    -fx-alignment: top-left ;
    -fx-max-width: 300.0;
    -fx-pref-width:300.0;
    -fx-focus-color: #4059A9;
    -fx-unfocus-color: #4d4d4d;       
}

.c3d-text-field.error{
	-fx-focus-color: #D34336;
	-fx-unfocus-color: #D34336;
}

.c3d-text-field .errorLabel{
	-fx-text-fill : #D34336;
	-fx-font-size: 0.75em;
}
.c3d-text-field .errorIcon{
	-fx-text-fill : #D34336;
	-fx-font-size: 1.0em;
}

/*******************************************************************************
*                                                                              *
* C3D List View                                                                *
*                                                                              *
*******************************************************************************/

.c3d-list-cell-content-container {
	-fx-alignment: center-left;
}
.c3d-list-cell-container > .label {
  	-fx-text-fill: BLACK ;
}

.c3d-list-cell:odd:selected .c3d-list-cell-container,
.c3d-list-cell:even:selected .c3d-list-cell-container { 
	-fx-background-color: rgba(0.0,0.0,255.0,0.2);
}

.c3d-list-cell {
	-fx-background-insets: 0.0 ; 
	-fx-text-fill: BLACK; 
}
.c3d-list-cell:odd, 
.c3d-list-cell:even {
	-fx-background-color:  WHITE;
}
.c3d-list-cell:filled:hover { 
	-fx-text-fill: black;
}

.c3d-list-cell .c3d-rippler {
	-fx-rippler-fill: #5264AE;
}

.c3d-list-view {
	-fx-background-insets: 0.0;
  	-fx-cell-horizontal-margin: 0.0;
  	-fx-cell-vertical-margin: 5.0;
  	-fx-vertical-gap : 10.0;
  	-fx-expanded : false;
}

.custom-c3d-list-view .c3d-list-cell-content-container {
	-fx-alignment: center;
}
.custom-c3d-list-view .c3d-list-cell-container .label {
  	-fx-text-fill: BLACK ;
}

.custom-c3d-list-view .c3d-list-cell:odd:selected .c3d-list-cell-container,
.custom-c3d-list-view .c3d-list-cell:even:selected .c3d-list-cell-container { 
	-fx-background-color: transparent ;
}

.custom-c3d-list-view .c3d-list-cell {
	-fx-background-insets: 0.0 ; 
	-fx-text-fill: BLACK; 
}
.custom-c3d-list-view .c3d-list-cell:odd, 
.custom-c3d-list-view .c3d-list-cell:even {
	-fx-background-color:  WHITE;
}
.custom-c3d-list-view .c3d-list-cell:filled:hover { 
	-fx-text-fill: black;
}

.custom-c3d-list-view{
	-fx-background-insets: 0.0;
  	-fx-cell-horizontal-margin: 0.0;
  	-fx-cell-vertical-margin: 5.0;
  	-fx-expanded : false;
  	-fx-max-width : 200.0px;   	
  	/* important to hide the list change of height */
  	-fx-background-color:TRANSPARENT;
  	
}
.custom-c3d-list-view .c3d-rippler {
	-fx-rippler-fill:RED;
}

.custom-c3d-list-view1{
	-fx-vertical-gap : 15.0;
  	-fx-max-width: 150.0px;
  	-fx-background-color: transparent ;
}

.custom-c3d-list-view1 .c3d-list-cell .c3d-list-cell-container{
}

.custom-c3d-list-view-icon {
	-fx-text-fill: #5264AE;
	-fx-padding: 0.0 10.0 0.0 5.0  ;
	-fx-cursor: hand;
}



.custom-c3d-list-view .sublist-item {
	-fx-border-color: #e0e0e0;
	-fx-border-width: 1 0 1 0;
}

.custom-c3d-list-view .c3d-list-cell .sublist-header > .drop-icon{
	-fx-text-fill: GRAY;
}
.custom-c3d-list-view .c3d-list-cell:filled:hover .sublist-header > .drop-icon{
	-fx-text-fill: BLACK;
}

/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************
*                                                                              *
* C3D SUBLIST IMPORTANT                                                        *
*                                                                              *
*******************************************************************************/
.sublist .scroll-bar:vertical .increment-arrow,
.sublist .scroll-bar:vertical .decrement-arrow,
.sublist .scroll-bar:vertical .increment-button,
.sublist .scroll-bar:vertical .decrement-button {
    -fx-padding:0;
}
.sublist .c3d-list-cell:odd, 
.sublist .c3d-list-cell:even {
	-fx-background-color:  TRANSPARENT;
}
.sublist {
	-fx-background-color: TRANSPARENT;
}

.sublist .c3d-list-cell:odd:selected .c3d-list-cell-container,
.sublist .c3d-list-cell:even:selected .c3d-list-cell-container { 
	-fx-background-color: transparent ;
}

.sublist .c3d-list-cell {
	-fx-background-insets: 0.0 ; 
	-fx-text-fill: BLACK; 
}
.sublist .c3d-list-cell:odd, 
.sublist .c3d-list-cell:even {
	-fx-background-color:  WHITE;
}


/*.custom-c3d-list-view .sublist-container {
	-fx-padding : 0 0 5 0;
}*/

/*******************************************************************************
*                                                                              *
* C3D Toggle Button                                                            *
*                                                                              *
*******************************************************************************/

.c3d-toggle-button{
	-fx-toggle-color:#0F9D58;
}

.custom-c3d-toggle-button{
	-fx-toggle-color:#4285F4;
}

.toggle-label {
	-fx-font-size: 14.0px;
}

.toggle-icon1 .icon{
	-fx-text-fill: #4285F4;
	-fx-padding:20.0;
}
.toggle-icon1 .c3d-rippler{
	-fx-rippler-fill: rgba(66.0,133.0,244.0,0.29885056614875793);
	-fx-mask-type: CIRCLE;
}
.toggle-icon2 .icon{
	-fx-text-fill: RED;
}
.toggle-icon2 .c3d-rippler{
	-fx-rippler-fill: RED;
	-fx-mask-type: CIRCLE;
}
.toggle-icon3 .icon{
	-fx-text-fill: rgb(204.0,204.0,51.0);
	-fx-padding:10.0;
}
.toggle-icon3 .c3d-rippler{
	-fx-rippler-fill: #0F9D58;
	-fx-mask-type: CIRCLE;
}

/*******************************************************************************
*                                                                              *
* C3D Spinner                                                                  *
*                                                                              *
*******************************************************************************/

.c3d-spinner > .arc {
	-fx-stroke-width: 3.0;
	-fx-fill: transparent;
}

.first-spinner > .arc {
	-fx-stroke-width: 3.0;
	-fx-fill: transparent;
	-fx-stroke: #4285f4;
}

.second-spinner > .arc {
	-fx-stroke-width: 3.0;
	-fx-fill: transparent;
	-fx-stroke: #db4437;
}

.third-spinner > .arc {
	-fx-stroke-width: 3.0;
	-fx-fill: transparent;
	-fx-stroke: #f4b400;
}

.fourth-spinner > .arc {
	-fx-stroke-width: 3.0;
	-fx-fill: transparent;
	-fx-stroke: #0F9D58;
}

 @font-face {
  font-family: "Roboto";
  src: url("../roboto/Roboto-Regular.ttf");
}
