/*
 *	Apply google Roboto font to all UI components 
 */

.root {
	-fx-font-family: "Roboto";	
}

.side-menu{
	-fx-padding: 20.0,10.0;
	-fx-font-size: 15.0;
	-fx-font-weight: NORMAL;
	-fx-text-fill: #444;
}
.title-label{
	-fx-font-size: 16.0px;
	-fx-padding	: 14.0px;
	-fx-text-fill: rgba(0.0, 0.0, 0.0, 0.87);
}
.radio-button-title-label {
	-fx-font-size: 16.0px;
	-fx-padding	: 14.0 0.0 -20.0 0.0;	
	-fx-text-fill: rgba(0.0, 0.0, 0.0, 0.87);
}
.jfx-button {
	-fx-background-color: transparent ;
}

/*******************************************************************************
 *                                                                             *
 * JFX Drawer                                                                  *
 *                                                                             *
 ******************************************************************************/

.jfx-drawer-overlay-pane {
	-fx-background-color: rgba(0.0,0.0,0.0,0.1)	
}

.jfx-drawer-side-pane {
	-fx-background-color: WHITE;	
}

/*******************************************************************************
 *                                                                             *
 * JFX Dialog Layout                                                           *
 *                                                                             *
 ******************************************************************************/

.jfx-dialog-overlay-pane {
	-fx-background-color: rgba(0.0,0.0,0.0,0.1); 
}

.dialog-trigger{
	-fx-background-color: WHITE;
	-fx-button-type:RAISED;
	-fx-font-size: 16.0px;
}

.jfx-dialog-layout {
	-fx-padding: 24.0px 24.0px 16.0px 24.0px;
	-fx-text-fill: rgba(0.0, 0.0, 0.0, 0.87);
}
.jfx-layout-heading {
	-fx-font-size: 20.0px;
	-fx-font-weight: BOLD;
	-fx-alignment: center-left;
	-fx-padding: 5.0 0.0 5.0 0.0; 	
}

.jfx-layout-body .label {
	-fx-font-size: 14.0px;
	-fx-pref-width: 400.0px;
	-fx-wrap-text: true;
}

.jfx-layout-actions {
	-fx-padding: 10.0px 0.0 0.0 0.0 ;	
	-fx-alignment: center-right ;
}
.dialog-accept{
	-fx-text-fill: #03A9F4;
	-fx-font-weight: BOLD; 	
	-fx-padding: 0.7em 0.8em;
}

/*******************************************************************************
 *                                                                             *
 * JFX Pop Up                                                                  *
 *                                                                             *
 ******************************************************************************/

.jfx-popup-overlay-pane{
	-fx-background-color: transparent ;
}

.jfx-popup-holder{
	-fx-background-color: WHITE;
	-fx-pref-width:151.0px;
}

.popup-list-view {
	-fx-pref-width:150.0px;
}

/*******************************************************************************
 *                                                                             *
 * JFX Icons                                                                   *
 *                                                                             *
 ******************************************************************************/

.icon{
	-fx-text-fill: #FE774D;
	-fx-padding: 10.0;
	-fx-cursor: hand;
}

.icons-rippler{
	-fx-rippler-fill: #FE774D;
	-fx-mask-type: CIRCLE;
}

.icons-rippler1{
	-fx-rippler-fill: #4285F4;
	-fx-mask-type: CIRCLE;
}

.icons-rippler:hover{
	-fx-cursor: hand;
}

.animated-burgers .jfx-hamburger StackPane{
	-fx-background-color:#5264AE;
	-fx-background-radius:4px;
}


/*******************************************************************************
*                                                                              *
* JFX Hamburger Icon                                                           *
*                                                                              *
*******************************************************************************/

.jfx-hamburger{
	-fx-padding: 10.0;
	-fx-spacing: 4px;
	-fx-cursor: hand;
}

.jfx-hamburger StackPane{
	-fx-pref-width: 30px;
	-fx-pref-height: 4px;
	-fx-background-color: #FFF ;
	-fx-background-radius: 5px;	
}

/*******************************************************************************
 *                                                                             *
 * JFX Tool Bar                                                                *
 *                                                                             *
 ******************************************************************************/

.jfx-tool-bar{
	-fx-font-size: 20.0;
	-fx-font-weight: BOLD;
	-fx-background-color: #5264AE;
	-fx-pref-width: 100.0%;
	-fx-pref-height: 64.0px;
}

.jfx-tool-bar HBox {
	-fx-alignment:center;
	-fx-spacing: 25.0;
	-fx-padding: 0.0 10.0;
}

.jfx-tool-bar Label{
	-fx-text-fill: WHITE;
}

.jfx-tool-bar .jfx-options-burger{
	-fx-padding: 22px;
}
.jfx-tool-bar .jfx-options-burger StackPane{
	-fx-pref-width:4px;
}

.jfx-tool-bar .jfx-rippler {
	-fx-rippler-fill: WHITE;
}

.option-list-view {
  	-fx-pref-width: 160.0px;
  	-fx-background-color: WHITE ;
}

.option-jfx-list-view-icon {
	-fx-text-fill: #5264AE;
	-fx-padding: 0.0 10.0 0.0 5.0 ;
	-fx-cursor: hand;
}



/*******************************************************************************
 *                                                                             *
 * JFX Radio Button                                                            *
 *                                                                             *
 ******************************************************************************/

.jfx-radio-button .radio {
	-fx-stroke-width: 2.0px;
	-fx-fill: transparent;
}

.jfx-radio-button .dot {
	-fx-fill: #0F9D58;
}

.custom-jfx-radio-button{
	-fx-font-size: 16.0px;
}

.custom-jfx-radio-button .radio {
	-fx-stroke-width: 2.0px;
	-fx-fill: transparent;	
}

.custom-jfx-radio-button .dot {
	-fx-fill: #5264AE;
}

/*******************************************************************************
 *                                                                             *
 * JFX Slider                                                                  *
 *                                                                             *
 ******************************************************************************/

.jfx-slider {
	-fx-indicator-position: left;
}


.jfx-slider > .thumb {
	-fx-stroke: #0F9D58;
	-fx-stroke-width: 2.0;
}

.jfx-slider .track {
	-fx-background-color: #CCCCCC;
    -fx-stroke-width: 3.0;
}

.jfx-slider .sliderValue {
	-fx-stroke: #FFFFFF;
	-fx-font-size: 10.0;
}

.jfx-slider:disabled {
	-fx-opacity: 0.4;
}

/*******************************************************
*                           						   *
* For the main demo sliders 						   *
*                          							   *
*******************************************************/

.jfx-slider-style {
	-fx-indicator-position: right;
}

.jfx-slider-style > .thumb {
	-fx-stroke: #5264AE;
	-fx-stroke-width: 1.0;
}

.jfx-slider-style .track {
	-fx-stroke: rgb(230.0,230.0,153.0);
    -fx-stroke-width: 5.0;
}

.jfx-slider-style .sliderValue {
	-fx-stroke: rgb(0.0,255.0,64.0);
	-fx-font-size: 10.0;
}

/******************************************************/


/*******************************************************************************
*                                                                              *
* JFX Rippler                                                                  *
*                                                                              *
*******************************************************************************/

/*.jfx-rippler {
	-fx-rippler-fill: #5264AE;
	-fx-mask-type: RECT;
}*/
.jfx-rippler:hover {
	-fx-cursor: hand;
}

/*******************************************************************************
*                                                                              *
* JFX Button                                                                   *
*                                                                              *
*******************************************************************************/


.custom-jfx-button-raised .jfx-rippler{
	-fx-rippler-fill: YELLOW;
}

.custom-jfx-button-raised  {
	-fx-padding: 0.7em 0.57em;
	-fx-font-size: 14.0px;
	-fx-button-type: RAISED;
	-fx-background-color: rgb(102.0,153.0,102.0);
	-fx-pref-width: 200.0;
	-fx-text-fill: WHITE;
}

/*******************************************************************************
*                                                                              *
* JFX Check Box                                                                *
*                                                                              *
*******************************************************************************/

.jfx-check-box{
    -fx-font-weight: BOLD;
}

.custom-jfx-check-box{
    -fx-checked-color: RED;
    -fx-unchecked-color: BLACK;
}

.custom-jfx-check-box-all-colored{
	 -fx-checked-color: #5264AE;
	 -fx-unchecked-color: #5264AE;
	 -fx-text-fill:#5264AE;
}

.custom-jfx-check-box-text-colored{
	-fx-text-fill:rgb(153.0,0.0,0.0);
}

/*******************************************************************************
*                                                                              *
* JFX Progress Bar                                                             *
*                                                                              *
*******************************************************************************/

.jfx-progress-bar{
	-fx-pref-width: 500.0;
}

.jfx-progress-bar > .track {
	-fx-min-width: 500.0;
}

.custom-jfx-progress-bar .track {
	-fx-stroke: #C8C8C8;
	-fx-stroke-width: 5.0;
}

.custom-jfx-progress-bar .bar {
	-fx-stroke: rgb(255.0,128.0,0.0);
}

.custom-jfx-progress-bar-stroke .track {
	-fx-stroke: #C8C8C8 ;
	-fx-stroke-width: 7.0;
}

.custom-jfx-progress-bar-stroke .bar {
	-fx-stroke: #5264AE ;
}


/*******************************************************************************
*                                                                              *
* JFX Textfield                                                                *
*                                                                              *
*******************************************************************************/

.jfx-text-field{
	-fx-background-color: transparent ;
    -fx-font-weight: BOLD;
    -fx-prompt-text-fill: #808080;
    -fx-alignment: top-left ;
    -fx-max-width: 300.0;
    -fx-pref-width:300.0;
    -fx-focus-color: #4059A9;
    -fx-unfocus-color: #4d4d4d;       
}

.jfx-text-field:error {
	-fx-focus-color: #D34336;
	-fx-unfocus-color: #D34336;
}

.jfx-text-field .errorLabel{
	-fx-text-fill : #D34336;
	-fx-font-size: 0.75em;
}
.jfx-text-field .errorIcon{
	-fx-text-fill : #D34336;
	-fx-font-size: 1.0em;
}

/*******************************************************************************
*                                                                              *
* JFX List View                                                                *
*                                                                              *
*******************************************************************************/

.jfx-list-cell-content-container {
	-fx-alignment: center-left;
}
.jfx-list-cell-container > .label {
  	-fx-text-fill: BLACK ;
}

.jfx-list-cell:odd:selected .jfx-list-cell-container,
.jfx-list-cell:even:selected .jfx-list-cell-container { 
	-fx-background-color: rgba(0.0,0.0,255.0,0.2);
}

.jfx-list-cell {
	-fx-background-insets: 0.0 ; 
	-fx-text-fill: BLACK; 
}
.jfx-list-cell:odd, 
.jfx-list-cell:even {
	-fx-background-color:  WHITE;
}
.jfx-list-cell:filled:hover { 
	-fx-text-fill: black;
}

.jfx-list-cell .jfx-rippler {
	-fx-rippler-fill: #5264AE;
}

.jfx-list-view {
	-fx-background-insets: 0.0;
  	-fx-cell-horizontal-margin: 0.0;
  	-fx-cell-vertical-margin: 5.0;
  	-fx-vertical-gap : 10.0;
  	-fx-expanded : false;
}

.custom-jfx-list-view .jfx-list-cell-content-container {
	-fx-alignment: center;
}
.custom-jfx-list-view .jfx-list-cell-container .label {
  	-fx-text-fill: BLACK ;
}

.custom-jfx-list-view .jfx-list-cell:odd:selected .jfx-list-cell-container,
.custom-jfx-list-view .jfx-list-cell:even:selected .jfx-list-cell-container { 
	-fx-background-color: rgba(255,0,0,0.2) ;
}

.custom-jfx-list-view .jfx-list-cell {
	-fx-background-insets: 0.0 ; 
	-fx-text-fill: BLACK; 
}
.custom-jfx-list-view .jfx-list-cell:odd, 
.custom-jfx-list-view .jfx-list-cell:even {
	-fx-background-color:  WHITE;
}
.custom-jfx-list-view .jfx-list-cell:filled:hover { 
	-fx-text-fill: black;
}

.custom-jfx-list-view{
	-fx-background-insets: 0.0;
  	-fx-cell-horizontal-margin: 0.0;
  	-fx-cell-vertical-margin: 5.0;
  	-fx-expanded : false;
  	-fx-max-width : 200.0px;   	
  	/* important to hide the list change of height */
  	-fx-background-color:TRANSPARENT;
  	
}
.custom-jfx-list-view .jfx-rippler {
	-fx-rippler-fill : RED;
}

.custom-jfx-list-view1{
	-fx-vertical-gap : 15.0;
  	-fx-pref-width: 150px;
  	-fx-background-color: transparent ;
}

.custom-jfx-list-view1 .jfx-list-cell .jfx-list-cell-container{
}

.custom-jfx-list-view-icon {
	-fx-text-fill: #5264AE;
	-fx-padding: 0.0 10.0 0.0 5.0  ;
	-fx-cursor: hand;
}



.custom-jfx-list-view .sublist-item {
	-fx-border-color: #e0e0e0;
	-fx-border-width: 1 0 1 0;
}
.custom-jfx-list-view .jfx-list-cell .sublist-header > .drop-icon{
	-fx-text-fill: GRAY;
}
.custom-jfx-list-view .jfx-list-cell:filled:hover .sublist-header > .drop-icon{
	-fx-text-fill: BLACK;
}

/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************
*                                                                              *
* JFX SUBLIST IMPORTANT                                                        *
*                                                                              *
*******************************************************************************/
.sublist .scroll-bar:vertical .increment-arrow,
.sublist .scroll-bar:vertical .decrement-arrow,
.sublist .scroll-bar:vertical .increment-button,
.sublist .scroll-bar:vertical .decrement-button {
    -fx-padding:0;
}
.sublist .jfx-list-cell:odd, 
.sublist .jfx-list-cell:even {
	-fx-background-color:  TRANSPARENT;
}
.sublist {
	-fx-background-color: TRANSPARENT;
}

.sublist .jfx-list-cell:odd:selected .jfx-list-cell-container,
.sublist .jfx-list-cell:even:selected .jfx-list-cell-container { 
	-fx-background-color: rgba(255,0,0,0.2) ;
}

.sublist .jfx-list-cell {
	-fx-background-insets: 0.0 ; 
	-fx-text-fill: BLACK; 
}
.sublist .jfx-list-cell:odd, 
.sublist .jfx-list-cell:even {
	-fx-background-color:  WHITE;
}

/*.custom-jfx-list-view .sublist-container {
	-fx-padding : 0 0 5 0;
}*/

/*******************************************************************************
*                                                                              *
* JFX Toggle Button                                                            *
*                                                                              *
*******************************************************************************/

.jfx-toggle-button{
	-fx-toggle-color:#0F9D58;
}

.custom-jfx-toggle-button{
	-fx-toggle-color:#4285F4;
}

.toggle-label {
	-fx-font-size: 14.0px;
}

.toggle-icon1 .icon{
	-fx-text-fill: #4285F4;
	-fx-padding:20.0;
}
.toggle-icon1 .jfx-rippler{
	-fx-rippler-fill: rgba(66.0,133.0,244.0,0.29885056614875793);
	-fx-mask-type: CIRCLE;
}
.toggle-icon2 .icon{
	-fx-text-fill: RED;
}
.toggle-icon2 .jfx-rippler{
	-fx-rippler-fill: RED;
	-fx-mask-type: CIRCLE;
}
.toggle-icon3 .icon{
	-fx-text-fill: rgb(204.0,204.0,51.0);
	-fx-padding:10.0;
}
.toggle-icon3 .jfx-rippler{
	-fx-rippler-fill: #0F9D58;
	-fx-mask-type: CIRCLE;
}

/*******************************************************************************
*                                                                              *
* JFX Spinner                                                                  *
*                                                                              *
*******************************************************************************/

.jfx-spinner > .arc {
	-fx-stroke-width: 3.0;
	-fx-fill: transparent;
}

.first-spinner > .arc {
	-fx-stroke-width: 3.0;
	-fx-fill: transparent;
	-fx-stroke: #4285f4;
}

.second-spinner > .arc {
	-fx-stroke-width: 3.0;
	-fx-fill: transparent;
	-fx-stroke: #db4437;
}

.third-spinner > .arc {
	-fx-stroke-width: 3.0;
	-fx-fill: transparent;
	-fx-stroke: #f4b400;
}

.fourth-spinner > .arc {
	-fx-stroke-width: 3.0;
	-fx-fill: transparent;
	-fx-stroke: #0F9D58;
}

/*******************************************************************************
*                                                                              *
* JFX Combo Box                                                                *
*                                                                              *
*******************************************************************************/
.combo-box-popup .jfx-list-view .jfx-list-cell .jfx-list-cell-container .label {
  	-fx-text-fill: BLACK ;
}

.combo-box-popup .jfx-list-view .jfx-list-cell .jfx-list-cell-container .custom-jfx-list-view-icon {
	-fx-text-fill: #5264AE;
	-fx-padding: 0.0 10.0 0.0 5.0  ;
	-fx-cursor: hand;
}
.combo-box-popup .jfx-list-view .jfx-list-cell:odd:selected .jfx-list-cell-container,
.combo-box-popup .jfx-list-view .jfx-list-cell:even:selected .jfx-list-cell-container { 
	-fx-background-color: rgba(0.0,0.0,255.0,0.2);
}
.combo-box-popup .jfx-list-view .jfx-list-cell {
	-fx-background-insets: 0.0 ; 
	-fx-text-fill: BLACK; 
}
.combo-box-popup .jfx-list-view .jfx-list-cell:odd, 
.combo-box-popup .jfx-list-view .jfx-list-cell:even {
	-fx-background-color:  WHITE;
}
.combo-box-popup .jfx-list-view .jfx-list-cell:filled:hover { 
	-fx-text-fill: black;
}
.combo-box-popup .jfx-list-view .jfx-list-cell .jfx-rippler {
	-fx-rippler-fill: #5264AE;
}

@font-face {
  font-family: "Roboto";
  src: url("../roboto/Roboto-Regular.ttf");
}
